// Default variable overrides
$primary: #043673;
$secondary: #FDC348;


$navbar-light-active-color:aliceblue;

$font-family-sans-serif:Roboto;
$position-values: (
    0: 0,
    10:10%,
    13:13%,
    15:15%,
    20:20%,
    25:25%,
    50: 50%,
    100: 100%
);

$offcanvas-vertical-height: 100vh;

// $modal-content-color: white;
// $modal-content-bg:$primary;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import'../../node_modules/bootstrap//scss/bootstrap';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';


.nav-item>a.active{

    // border-bottom:2px solid #FDC348  ;
    // font-weight: bold;
    color: aliceblue;
}
